<% if (errors) { %>
    <ul class="notice">
   <% errors.forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<h1>Add New Vehicle</h1>
<p>All fields are required</p>
<form action="/inventory/add-inventory" method="post">
    <label for="classifcationList">Classification</label><br>
    <%- classifcationSelect %>

    <label for="invDescription">Description</label><br>
    <textarea rows="5" cols="50" required><% if(locals.inv_description) { %><%= locals.inv_description %><% } %></textarea>

    <label for="invMake">Vehicle Name</label>
    <input type="text" pattern="^[a-zA-Z0-9]+$" required minlength="3" value="Min of 3 characters"<% if(locals.inv_make) { %>value="<%= locals.inv_make %>"<% } %>>

    <label for="invModel">Vehicle Model</label>
    <input type="text" pattern="^[a-zA-Z0-9]+$" required minlength="3" value="Min of 3 characters"<% if(locals.inv_model) { %> value = "<%= locals.inv_model %>"<% } %>>

    <label for="invYear">Year</label>
    <input type="number" value="4-digit year" pattern="^(19\20)\d(2)$" maxlength="4" required<% if(locals.inv_year) { %> value = "<%= locals.inv_year %>"<% } %>>

    <label for="invPrice">Price</label>
    <input type="number" value="price" pattern="^\d*(\.\d{0,2})?$" maxlength="4" required<% if(locals.inv_price) { %> value = "<%= locals.inv_price %>"<% } %>>

    <label for="miles">Miles</label>
    <input type="number" value="digits only" pattern="^\d+$" required <% if(locals.inv_miles) { %> value = "<%= locals.inv_miles %>"<% } %>>

    <label for="color">Color</label>
    <input type="text" <% if(locals.inv_color) { %> value = "<%= locals.inv_color %>"<% } %>>

    <input type="hidden" name="inv_id"
  <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
  <% } %>>

    <buttom type="submit" name="submit">Update Vehicle</button>
</form>