<% if (errors) { %>
    <ul class="notice">
   <% errors.forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<h1>Add New Vehicle</h1>
<p>All fields are required</p>
<form action="/inv/management" method="post">
    <label for="classifcationList">Classification</label><br>
    <select>
      <option value="Custom"></option>
      <option value="Sedan"></option>
      <option value="Sports"></option>
      <option value="SUV"></option>
      <option value="Truck"></option>
    </select>

    <label for="invDescription">Description</label><br>
    <textarea rows="5" cols="30" required><% if(locals.inv_description) { %><%= locals.inv_description %><% } %></textarea><br>

    <label for="invMake">Vehicle Name</label>
    <input type="text" pattern="^[a-zA-Z0-9]+$" required minlength="3" placeholder="Min of 3 characters"<% if(locals.inv_make) { %>value="<%= locals.inv_make %>"<% } %>><br>

    <label for="invModel">Vehicle Model</label>
    <input type="text" pattern="^[a-zA-Z0-9]+$" required minlength="3" placeholder="Min of 3 characters"<% if(locals.inv_model) { %> value = "<%= locals.inv_model %>"<% } %>><br>

    <label for="invYear">Year</label>
    <input type="number" value="4-digit year" pattern="^(19\20)\d(2)$" maxlength="4" required<% if(locals.inv_year) { %> value = "<%= locals.inv_year %>"<% } %>><br>

    <label for="invPrice">Price</label>
    <input type="number" value="price" pattern="^\d*(\.\d{0,2})?$" maxlength="4" required<% if(locals.inv_price) { %> value = "<%= locals.inv_price %>"<% } %>><br>

    <label for="invMiles">Miles</label>
    <input type="number" value="digits only" pattern="^\d+$" required <% if(locals.inv_miles) { %> value = "<%= locals.inv_miles %>"<% } %>><br>

    <label for="invColor">Color</label>
    <input type="text" <% if(locals.inv_color) { %> value = "<%= locals.inv_color %>"<% } %>><br>

    <input type="hidden" name="inv_id"
  <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
  <% } %>>

    <input type="submit" name="submit" value="Update Vehicle">
</form>