<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<% messages() %>

<body>
  <div id="wrapper">
      <%- include('../partials/header') %>
      <%- include('../partials/navigations') %>

      <main>
        <%- grid %>
      </main>
      <%- include('../partials/footer') %>
  </div>
</body>
</html>